.header {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.nav-init {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0) !important;
}

.bg-gray {
    background-color: #f4f4f4;
}

.bg-charts {
    background-image: url("/img/landing/charts.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.carousel {
    height: 470px;
    overflow: hidden;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators > li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid black;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.text-header {
    margin: 150px 20%;
    font-size: 40px;
    font-weight: bold;
    width: 60%;
}

.zoom {
    transition: 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

.card-caracteristicas {
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 5px;
    transition: 0.5s ease;
    overflow: hidden;
}

.card-caracteristicas > h5 {
    font-size: 30px;
}

.card-caracteristicas > .icon {
    font-size: 50px;
    margin: 10px auto;
}

.text-caracteristicas {
    padding: 5px 30px;
    text-align: justify;
    transition: 0.5s linear;
}

.separador {
    width: 20% !important;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.card-caracteristicas:hover {
    border: 1px solid #1ab394;
}

.card-caracteristicas:hover > .separador {
    width: 50% !important;
    margin: 5% auto;
    border-top: 2px solid #1ab394;
}

.to-right {
    width: 40%;
    margin-left: 60%;
    padding: 8% 5%;
}

.bg-transparentDark {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.glassCard {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    padding: 20px;
    height: 550px;
    overflow-y: hidden;

    transition: 1s ease;
}

.glassCard:hover {
    transform: translateY(-40px);
}

.caracteristics {
    background-color: #f2f4f4;
    position: relative;
    overflow: hidden;
}

.caracteristics-content {
    position: relative;
    z-index: 100;
    color: black;
}

.cards-container{

    margin: 0 15%;
}

.marco {
    
    height: 250px;
    overflow: hidden;

    border-radius: 16px;
}

.marco > img {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
}

.marco > img:hover {

    transform: scale(1.3);
    
}

footer > .part-1{

    background: #212F3C;
    color: white;
    padding: 15px;
    display: flex;
}

footer > .part-2{

    background: #2E4053;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > .part-3{
    padding: 15px;
    background: #212F3C;
    color: white;
}


.social-button{

    
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    text-align: center;
}

.facebook{

    background-color: #1877F2;
    border: 1px solid #1877F2;
    color: white;
    transition: 0.2s ease;
}

.facebook:hover{

    background-color: #1556aa;
    border: 1px solid #1556aa;
    color: white;
}

.linkedin{

    background-color: #0A66C2;
    border: 1px solid #0A66C2;
    color: white;
    transition: 0.2s ease;
}

.linkedin:hover{

    background-color: #07417a;
    border: 1px solid #07417a;
    color: white;
}

.twitter{
    background-color: #fff;
    border: 1px solid #fff;
    color: #1A8CD8;
    transition: 0.2s ease;
}

.twitter:hover{

    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    color: #1A8CD8;
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border: 1px solid #f09433;
    color: #fff;
    transition: 0.2s ease;
}

.instagram:hover{
    background: #b87227; 
    background: -moz-linear-gradient(45deg, #b87227 0%, #994628 25%, #911a2b 50%, #881844 75%, #7e105b 100%); 
    background: -webkit-linear-gradient(45deg, #b87227 0%,#994628 25%,#911a2b 50%,#881844 75%,#7e105b 100%); 
    background: linear-gradient(45deg, #b87227 0%,#994628 25%,#911a2b 50%,#881844 75%,#7e105b 100%); 
    border: 1px solid #b87227;
}


.foot-link{
    color: #afaeae;
    transition: 0.2s ease;
}

.foot-link:hover{
    color: #1ab394;
}


@media (max-width: 1600px){
    .cards-container{

        margin: 0 5%;
    }
}


@media (max-width: 890px){
    .cards-container{

        margin: 0 25%;
    }
}



@media (max-width: 750px) {

    .cards-container{

        margin: 0 5%;
    }
    .text-header {

        margin: 100px 0;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
    }

    .to-right {

        width: 100%;
        margin-left: 0%;
        padding: 5% 5%;
    }

    .nav-init {

        position: relative;
        width: 100%;
        z-index: 100;
        background-color: #1ab394 !important;
    }

    .glassCard {

        height: auto;
    }


    footer > .part-1{

        display: block;
        align-items: center;
        text-align: center;
    }
    
    .button-container{
        margin: 25px 0 0 0;

    }
}
