.header {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.nav-init {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0) !important;
}

.bg-gray {
    background-color: #f4f4f4;
}

.bg-charts {
    background-image: url("/img/landing/charts.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.carousel {
    height: 470px;
    overflow: hidden;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators > li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid black;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.text-header {
    margin: 150px 20%;
    font-size: 40px;
    font-weight: bold;
    width: 60%;
}

.zoom {
    transition: 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

.card-caracteristicas {
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 5px;
    transition: 0.5s ease;
    overflow: hidden;
}

.card-caracteristicas > h5 {
    font-size: 30px;
}

.card-caracteristicas > .icon {
    font-size: 50px;
    margin: 10px auto;
}

.text-caracteristicas {
    padding: 5px 30px;
    text-align: justify;
    transition: 0.5s linear;
}

.separador {
    width: 20% !important;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.card-caracteristicas:hover {
    border: 1px solid #1ab394;
}

.card-caracteristicas:hover > .separador {
    width: 50% !important;
    margin: 5% auto;
    border-top: 2px solid #1ab394;
}

.to-right {
    width: 40%;
    margin-left: 60%;
    padding: 8% 5%;
}

.bg-transparentDark {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.glassCard {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    padding: 20px;
}

.caracteristics {
    background-color: #f2f4f4;
    position: relative;
    overflow: hidden;
}

.caracteristics-content {
    position: relative;
    z-index: 100;
    color: black;
}

.cube-1 {
    background-color: #1ab394;
    width: 200px;
    height: 200px;
    box-shadow: 30px 30px 30px #2cffd5;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 0;
    animation-name: cube-1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: cube-1;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.marco {
    border-radius: 16px;
    height: 200px;
    overflow: hidden;
}

.marco > img {
    width: 100%;
    transform: translateY(-50px);
}

@keyframes cube-1 {
    0% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }

    50% {
        box-shadow: -30px -30px 30px #2cffd5;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }
}

@-webkit-keyframes cube-1 {
    0% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }

    50% {
        box-shadow: -30px -30px 30px #2cffd5;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }
}

.cube-2 {
    background-color: #ed5565;
    width: 200px;
    height: 200px;
    box-shadow: 30px 30px 30px #fa7b87;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 60%;
    left: 45%;
    z-index: 0;
    animation-name: cube-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: cube-2;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes cube-2 {
    0% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #fa7b87;
    }

    50% {
        box-shadow: -30px -30px 30px #fa7b87;
    }

    100% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #fa7b87;
    }
}

@-webkit-keyframes cube-2 {
    0% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }

    50% {
        box-shadow: -30px -30px 30px #2cffd5;
    }

    100% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #2cffd5;
    }
}

.cube-3 {
    background-color: #5a6268;
    width: 200px;
    height: 200px;
    box-shadow: 30px 30px 30px #7d8083;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 15%;
    left: 70%;
    z-index: 0;
    animation-name: cube-3;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: cube-3;
    -webkit-animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes cube-3 {
    0% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #7d8083;
    }

    50% {
        box-shadow: -30px -30px 30px #7d8083;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #7d8083;
    }
}

@-webkit-keyframes cube-3 {
    0% {
        transform: rotate(0deg);
        box-shadow: 30px 30px 30px #7d8083;
    }

    50% {
        box-shadow: -30px -30px 30px #7d8083;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 30px 30px 30px #7d8083;
    }
}

@media (max-width: 700px) {
    .text-header {
        margin: 100px 0;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
    }

    .to-right {
        width: 100%;
        margin-left: 0%;
        padding: 5% 5%;
    }

    .nav-init {
        position: relative;

        width: 100%;
        z-index: 100;
        background-color: #1ab394 !important;
    }

    .cube-1 {
        background-color: #1ab394;
        width: 100px;
        height: 100px;
        box-shadow: 30px 30px 30px #2cffd5;
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 25%;
        left: 20%;
        z-index: 0;
        animation-name: cube-1;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation-name: cube-1;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    .cube-2 {
        background-color: #ed5565;
        width: 100px;
        height: 100px;
        box-shadow: 30px 30px 30px #fa7b87;
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 60%;
        left: 52%;
        z-index: 0;
        animation-name: cube-2;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation-name: cube-2;
        -webkit-animation-duration: 15s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    .cube-3 {
        background-color: #5a6268;
        width: 100px;
        height: 100px;
        box-shadow: 30px 30px 30px #7d8083;
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 15%;
        left: 75%;
        z-index: 0;
        animation-name: cube-3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation-name: cube-3;
        -webkit-animation-duration: 30s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
}
